body {
    /* color: #FFC954; */
    background: #4E150F url(/assets/other-images/dark-red-bg-with-noise-tile-export.png) center repeat scroll;
    background-size: 100px;
}

header, footer, header *, footer, h1, .prevandnext {
	color: #FFC954 !important;
}
.avatar {
	box-shadow: rgba(255, 201, 84, 0.5) 0 0 30px 0px !important;
    transition: all 270ms ease !important;
}
.avatar:hover, .avatar:hover [data-avatar-index] {
	box-shadow: rgba(255, 201, 84, 0.7) 0 0 80px 5px !important;
}
.content {
    color: #FFC954;
    background: #E1320C url(/assets/other-images/fresh-red-bg-with-noise-tile-export.png) center repeat scroll;
    background-size: 100px;
	box-shadow: rgba(255, 201, 84, 0.5) 0 0 40px 0px;
}
section h2 {
	color: #FFC954;
}
section .circle {
}
section .circle a {
}

/* -------------------------------------- */

.keyring-key {
    color: #000;
}
section.keyring .keyring-key-inner {
    background: #FFF !important;
}

/* -------------------------------------- */

@media screen and (max-width: 1109px) {
    .desktop-only {
        display: none;
        visibility: hidden;
    }
}
@media screen and (orientation: portrait) {
    .desktop-only {
        display: none;
        visibility: hidden;
    }
}
body[data-should-always-hide-hengpi="true"] .hengpi,
body[data-should-hide-hengpi="true"] .hengpi {
    display: none;
}
.chunlian {
    transition: all 400ms ease;
}
.chunlian > img {
    box-shadow: rgba(255, 201, 84, 0.5) 0 0 30px 0px !important;
    transition: all 400ms ease;
    border-radius: 5px;
}
.chunlian > img:hover {
    box-shadow: rgba(255, 201, 84, 0.7) 0 0 80px 5px !important;
    /* filter: brightness(1.08); */
}
body[data-chunlian-hover="true"] .chunlian img {
    opacity: 0 !important;
}
