body {
    background: #FFF;
}
h1, h1 * {
    color: #000 !important;
}
.post > .post-text > h2 {
    color: #000 !important;
}
.global * {
    color: #000;
}
.post-text {
    color: #000;
}
.post-text > aside {
    color: #000;
}
.post-text a:link, .post-text a:visited, .post-text a:hover {
}

.post figure img.custom {
    border-radius: 0px !important;
}
