@media screen and (max-width: 768px) {
	html, body {
		font-size: 12px;
	}

	header.global, footer.global {
		text-align: left;
		margin: 60px 20px 40px;
		padding: 0;
	}

	#global-header {
		padding-top: 0px;
	}

	#global-footer {
		font-size: 1.4rem;
	}

	.global h1 {
		font-size: 1.8rem;
		-webkit-transform: translateY(-42%);
		-moz-transform: translateY(-42%);
		-ms-transform: translateY(-42%);
		transform: translateY(-42%);
	}

	.global h2 {
		font-size: 1.8rem;
		margin: 15px 0;
	}

	.avatar {
		width: 40px;
		height: 40px;
	}

	#cont.cont {
		padding-left: 0px;
		padding-right: 0px;
	}

	body[data-page-mode="index"] #cont.cont {
		margin: 0 15px;
	}

	body[data-page-mode="index"] .entry {
		font-size: 0px;
		line-height: 0px;
		display: block;
		float: left;
		width: 50%;
		padding: 5px;
		margin: 0px;
	}

	body[data-page-mode="single"] #cont.cont {
		margin: 0 10px;
	}

	.post {
		margin: 0 10px;
	}

	.post-text {
		font-size: 1.5rem;
	}

	.post-text figure img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.post-text figure img.custom.id3-s2-g { width: 222.51669mm; }
	.post-text figure img.custom.id3-s2 { width: 208.22906mm; }
	.post-text figure img.custom.id3-s1 { width: 104.77599mm; }
	.post-text figure img.custom.id3-l1 { width: 148.1681mm; }

	.post-text figure img.custom.id2-s2-g { width: 185.73926mm; }

	.post-text figure img.custom.id1-l2-g { width: 211.66868mm; }
	.post-text figure img.custom.id1-s2-g { width: 138.64299mm; }
	.post-text figure img.custom.id1-l1 { width: 100.0135mm; }

	.post-text figure img.custom.coin-2-g { width: 78.3174116mm; }

	.post-text figure img.custom.a4-s1 { width: 243.41898mm; }

	.post-text figure img.custom.banknote-l1 { width: 186.79790mm; }

	.post-text figure img.custom.iphone { width: 79.90492mm; }

	.post time {
	}

	nav.prevandnext {
		padding-left: 0px;
		padding-right: 0px;
	}
}
