@import url(/fonts/seravek.css);
* {
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}
body {
	font-family: Seravek, 'Myriad Pro', Myriad, 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, 'Arial-Black', 'Arial Black', sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #585858;
	min-height: 1500px;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
}
header a:link, header a:visited, header a:hover, header a:active, footer a {
	display: block;
	color: inherit;
	text-decoration: inherit;
}
header {
	position: absolute;
	width: 100%;
	height: 90vh;
	min-height: 500px;
	padding: 30px 0;
	margin: 0 auto;
}
header #title {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 680px;
	margin: -200px 0 0 -340px;
}
#title-in {
}
.avatar {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: #FFF url(/joyneop.png) center no-repeat scroll;
	background-size: contain;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.21322) 0 0 5px inset;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}
.avatar [data-avatar-index] {
	background-size: 180px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.21322) 0 0 5px inset;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 180px;
	-webkit-transition: box-shadow 270ms ease;
	-moz-transition: box-shadow 270ms ease;
	transition: box-shadow 270ms ease;
}
.avatar:hover, .avatar:hover [data-avatar-index] {
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.432222) 0 0 5px inset;
}
#main {
	position: absolute;
	top: 90%;
	width: 100%;
	padding: 0;
}
.content {
	background: #FFF;
	width: 720px;
	padding: 60px 0 30px;
	margin: 0 auto 50px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.024322) 0 0 4px;
}
header h1, header p {
	font-weight: 200;
	text-align: center;
	width: 100%;
	margin: 0;
}
header h1 {
	font-size: 48px;
	padding: 20px 0 10px;
}
header p {
	line-height: 1.45em;
	padding: 10px 0;
}
section {
	min-height: 100px;
	width: 540px;
	padding: 30px 0;
	margin: 0 auto 70px;
	background-size: 100px;
	overflow: hidden;
}
section h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	color: #2B8CD2;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0 0;
	margin: 0 0 12px 0;
}
section h2:hover {
}

/* -------------------------------------- */

#nav {
	text-align: center;
}
.circle {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 0 44px;
	background: #FFF center no-repeat scroll;
	background-size: contain;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.41322) 0 0 5px inset;
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}
.circle.blog {
	background-image: url(/assets/other-images/nav-blog-360px.jpg);
}
.circle.lab {
	background-image: linear-gradient(rgb(31, 97, 190), rgb(177, 206, 227));
}
.circle a {
	display: block;
	font-size: 30px;
	color: #FFF;
	text-decoration: none;
	width: 180px;
	height: 180px;
	padding: 74px 0 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	transition: all 200ms ease;
}
.circle:hover {
	box-shadow: rgba(0, 0, 0, 0.632222) 0 0 5px inset;
}
.circle:hover a {
	opacity: 1;
}
section ul, section li {
}
section ul {
	display: block;
	font-weight: 200;
	text-align: center;
	padding: 0;
	margin: 0;
}
section ul li {
	font-size: 20px;
	padding: 0 0;
	margin: 0 0 20px;
}
section.contact ul li {
	display: inline-block;
	padding: 0 0 5px;
	margin: 0 10px;
}
section.contact ul li a:hover {
	border-bottom: 1px solid #585858;
}
section.links ul li, section.links ul li a {
	display: block;
	width: 100%;
	height: 260px;
}
section.links ul {
	padding: 5px 0 0;
}
section.links ul li {
	background-color: #F5F5F5;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	border-radius: 3px;
}
section.links ul li a {
	border-radius: inherit;
	padding: 95px 0 0;
	/*opacity: 0;*/
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}
section.links ul li[data-bg-image-loaded="true"] a {
	opacity: 0;
}
section.links ul li a:hover {
	background: rgba(32, 32, 29, 0.94);
	opacity: 1;
}
section.links ul li a h3 {
	font-size: 30px;
	font-weight: 400;
	padding: 0 0 5px;
	margin: 0;
}
section.links ul li a p {
	font-size: 20px;
	font-weight: 200;
	padding: 0;
	margin: 0;
}
section.links ul li a h3, section.links ul li a p {
	color: #FFF;
}
section.links ul li a:hover h3, section.links ul li a:hover p {
}
section ul li a {
	color: inherit;
	text-decoration: none;
}
footer {
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	padding: 50px 0;
}
