@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(//neruthes.github.io/fonts/play/Play.woff) format('woff'), url(//joyneop.xyz/fonts/play/Play.woff) format('woff'), url(/fonts/play/Play.woff) format('woff');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play-Bold'), url(//neruthes.github.io/fonts/play/Play-Bold.woff) format('woff'), url(//joyneop.xyz/fonts/play/Play-Bold.woff) format('woff'), url(/fonts/play/Play-Bold.woff) format('woff');
}

@import url(/fonts/advanced.css);
