@font-face {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 200;
  src: local('.Seravek ExtraLight'), local('Seravek ExtraLight'), local('Seravek-ExtraLight'), url(/fonts/seravek/Seravek-ExtraLight.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-ExtraLight.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 300;
  src: local('.Seravek Light'), local('Seravek Light'), local('Seravek-Light'), url(/fonts/seravek/Seravek-Light.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-Light.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-Light.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 400;
  src: local('.Seravek'), local('Seravek'), local('Seravek'), url(/fonts/seravek/Seravek-Regular.woff) format('woff'), url(//neruthes.github.io/fonts/seravek/Seravek-Regular.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 500;
  src: local('.Seravek Medium'), local('Seravek Medium'), local('Seravek-Medium'), url(/fonts/seravek/Seravek-Medium.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-Medium.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: normal;
  font-weight: 600;
  src: local('.Seravek Bold'), local('Seravek Bold'), local('Seravek-Bold'), url(/fonts/seravek/Seravek-Bold.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-Bold.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: italic;
  font-weight: 200;
  src: local('.Seravek ExtraLight Italic'), local('Seravek ExtraLight Italic'), local('Seravek-ExtraLightItalic'), url(/fonts/seravek/Seravek-ExtraLightItalic.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-ExtraLightItalic.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-ExtraLightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: italic;
  font-weight: 300;
  src: local('.Seravek Light Italic'), local('Seravek Light Italic'), local('Seravek-LightItalic'), url(/fonts/seravek/Seravek-LightItalic.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-LightItalic.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-LightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: italic;
  font-weight: 400;
  src: local('.Seravek Italic'), local('Seravek Italic'), local('Seravek-Italic'), url(/fonts/seravek/Seravek-Italic.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-Italic.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: italic;
  font-weight: 500;
  src: local('.Seravek Medium Italic'), local('Seravek Medium Italic'), local('Seravek-MediumItalic'), url(/fonts/seravek/Seravek-MediumItalic.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-MediumItalic.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: 'Seravek';
  font-style: italic;
  font-weight: 600;
  src: local('.Seravek Bold Italic'), local('Seravek Bold Italic'), local('Seravek-BoldItalic'), url(/fonts/seravek/Seravek-BoldItalic.woff) format('woff'),  url(//neruthes.github.io/fonts/seravek/Seravek-BoldItalic.woff) format('woff'), url(//neruthes.xyz/fonts/seravek/Seravek-BoldItalic.woff) format('woff');
}

@import url(/fonts/advanced.css);

@font-face {
	font-family: 'Seravek-fallback';
	font-weight: 300;
	src: local('SF UI Text'), local('SF NS Text'), local('SF UI Display'), local('SF NS Display'), local('Segoe UI'), local('Helvetica Neue'), local('Helvetica'), local('Arial'), local('Hiragino Sans GB'), local('PingFang SC'), local('.PingFang SC'), local('Heiti SC');
}

@font-face {
	font-family: 'Seravek-fallback';
	font-weight: 400;
	src: local('SF UI Text'), local('SF NS Text'), local('SF UI Display'), local('SF NS Display'), local('Segoe UI'), local('Helvetica Neue'), local('Helvetica'), local('Arial'), local('Hiragino Sans GB'), local('PingFang SC'), local('.PingFang SC'), local('Heiti SC');
}

@font-face {
	font-family: 'Seravek-fallback';
	font-weight: 600;
	src: local('SF UI Text'), local('SF NS Text'), local('SF UI Display'), local('SF NS Display'), local('Segoe UI'), local('Helvetica Neue'), local('Helvetica'), local('Arial'), local('Hiragino Sans GB'), local('PingFang SC'), local('.PingFang SC'), local('Heiti SC');
}
