@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium WebThin'), local('TitilliumWeb-Thin'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Thin.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Thin.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Light.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Light.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Light.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Regular.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Regular.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-SemiBold.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-SemiBold.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Bold.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Bold.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Black.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Black.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Black.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 200;
  src: local('Titillium WebThin Italic'), local('TitilliumWeb-ThinItalic'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-ThinItalic.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-ThinItalic.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-ThinItalic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 300;
  src: local('Titillium WebLight Italic'), local('TitilliumWeb-LightItalic'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-LightItalic.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-LightItalic.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-LightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium WebItalic'), local('TitilliumWeb-Italic'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-Italic.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-Italic.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  src: local('Titillium WebSemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-SemiBoldItalic.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-SemiBoldItalic.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-SemiBoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: local('Titillium WebBold Italic'), local('TitilliumWeb-BoldItalic'), url(//neruthes.github.io/fonts/titillium-web/TitilliumWeb-BoldItalic.woff) format('woff'), url(//neruthes.xyz/fonts/titillium-web/TitilliumWeb-BoldItalic.woff) format('woff'), url(/fonts/titillium-web/TitilliumWeb-BoldItalic.woff) format('woff');
}

@import url(/fonts/advanced.css);
