* {
	text-rendering: optimizeLegibility;
}

body {
	padding: 0;
	margin: 0;
	/* transition: all 270ms ease; */
}

header.global {
	padding: 0;
	margin: 0 auto;
}

footer.global {
	line-height: 22px;
	padding: 50px 0;
	margin: 0 auto;
}

h1 {
	padding: 0;
	margin: 26px 0 35px;
}

.global h2 {
	margin: 18px 0;
}

.global a {
	text-decoration: none;
}

.cont {
	margin: 60px 0;
}

.post {
	padding: 20px 60px 45px;
	margin: 30px auto 80px;
}

p {
	margin: 18px 0;
}

.post-text figure img {
	margin: 18px auto;
}

.post-text img {
	max-width: 100%;
}

blockquote, pre {
	margin: 18px auto;
}

blockquote cite {
	padding: 0 8px;
}

nav.prevandnext {
	height: 50px;
	padding: 30px 0;
}

nav.prevandnext span {
	display: block;
	width: 40%;
	height: 40px;
}

nav.prevandnext span.prev {
	float: right;
	text-align: right;
}

nav.prevandnext span.next {
	float: left;
	text-align: left;
}

.post.more > ul.list {
	padding: 0;
	margin: 20px 0;
}

.post.more > ul.list > li {
	display: block;
	text-align: left;
	padding: 0;
	margin: 25px 0;
}

.post.more > ul.list > li > .post-h2 {
	display: block;
}

.post.more > ul.list > li > .post-date {
	text-align: left;
	/* padding: 0; */
	margin: 0 0;
}
