@media screen and (min-width: 1000px) {
	html, body {
		font-size: 10px;
	}

	.global {
		text-align: center;
		width: 820px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

	#global-header {
		padding-top: 50px;
	}

	#global-header a {
		display: block;
		margin: 0 auto;
	}

	.global h1 {
		font-size: 48px;
		margin: 35px 0;
	}

	.global h2 {
		font-size: 20px;
		margin: 15px 0;
	}

	#global-footer {
		padding: 50px;
	}

	#cont.cont {
		width: 840px;
		margin: 60px auto;
	}

	.post {
		width: 820px;
		padding-left: 64px;
		padding-right: 64px;
		margin-left: auto;
		margin-right: auto;
	}

	.post-text {
		font-size: 16px;
	}

	.post-text figure img {
		max-width: 100%;
	}

	.post time {
		transition: all 200ms ease;
	}

	nav.prevandnext {
		max-width: 700px;
		margin: 0 auto;
	}
}
