@media screen and (max-width: 999px) {
	html, body {
		font-size: 12px;
	}

	.global {
		text-align: center;
		margin: 60px 30px;
		padding: 20px 60px 0;
	}

	#global-header {
		padding-top: 50px;
	}

	#global-footer {
		font-size: 0.9rem;
	}

	.global h1 {
		font-size: 4.5rem;
		margin: 35px 0;
	}

	.global h2 {
		font-size: 2rem;
		margin: 15px 0;
	}

	#cont.cont {
		padding-left: 0px;
		padding-right: 0px;
		margin: 60px 10px;
	}

	.post-text {
		font-size: 1.5rem;
	}

	.post-text > img {
		max-width: 100%;
	}

	.post time {
	}

	nav.prevandnext {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 619px) {
	.post {
		margin: 30px 0 80px;
		padding: 20px 10px 60px;
	}
	nav.prevandnext {
		margin: 30px 14px;
	}
}

@media screen and (min-width: 620px) and (max-width: 999px) {
	.post, nav.prevandnext {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}
